{% extends 'base.html' %}

{% block content %}
    
<h1>List of Blog Authors</h1>

    <div>
            <ul>
                <!-- user is defined here (can be anything) -->
                <!-- list_all_users comes from parameters in render_template -->
                {% for user in list_all_users %}
                <!-- username is defined in db -->
                <li><a href="./blog?user={{user.id}}">{{user.username}}</a></li>
                {% endfor %}
            </ul>
    </div>
    

{% endblock %} 