{% extends 'base.html' %}

{% block content %}

    <h1>User Sign-up</h1>
    <form action="/signup" method='POST'>

        <p class="flash">
        
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        </p>

        <label>
            <span class="form_label">Username</span>
            <input name="username" type="text" value='{{username}}' />
        </label>
        <label>
            <span class="form_label">Password</span>
            <input name="password" type="password" value='{{password}}' />
        </label>
        <label>
            <span class="form_label">Password Validate</span>
            <input name="password_validate" type="password" value='{{password_validate}}' />
        </label>
        <input class="submit" type="submit" value="Submit" />
    </form>
    
{% endblock %} 