.error { color: red; }

 BODY{background-color:#cef5e9; color:#000000; font-family:arial; font-size:medium; }
A{color:#3366FF; font-weight:bold; }
A:Visited{color:#333366; font-weight:bold; }
A:Hover{color:#00CCFF; font-weight:bold; text-decoration:underline; }
H1{color:#3366FF; font-size:xx-large; font-weight:bold; }
H2{color:#3366FF; font-size:large; }
H3{color:#3366FF; font-size:large; }
INPUT{font-family:monospace; background-color:#CCCCCC; }
TEXTAREA{font-family:monospace; background-color:#CCCCCC; } 